{% extends "auctions/layout.html" %}

{% block body %}
    <h1 align='center'>Your Watchpage</h1>

<div>
    {% for auction in listings %}
            <div class="container">        
                <div class="row">
                    <div class="col-xs-6">
                        <a href="{{ auction.id }}/"> <img src="{{auction.img_url}}" alt="no image" style="width:250px;height:250px;"> </h2> </a>
                        
                    </div>

                    <div class="col">
                        <a href="{{ auction.id }}/"> <h2> {{ auction.title }} </h2> </a>
                        <h4> {{auction.description}}</h4>
                        {%for b in bid %}
                            {% if b.listing_id == auction %}
                            <h3> ${{b.price}} </h3>
                            {% endif %}
                        {% endfor %}
                        
                    </div>

                </div>
                <br>
            </div>    
    {% endfor %}
    
    
</div>
{% endblock %}